<div class="container">
  <!-- TITLE ROW -->
  <div class="row">
    <div class="col-sm-12">
      <h1 class="dashboard-banner">Welcome, <%= current_user.full_name %></h1>
    </div>
  </div>
  <!-- FIRST ROW -->
  <div class="row">
    <!-- FRIEND LEADERBOARD -->
    <div class="col-sm-12 col-md-3">
      <div class="panel friends-panel">
        <h4>Friends Leaderboard</h4>
        <% @user_data.friends.each do |friend| %>
          <% if friend.active? %>
            <%= render partial: "friend", locals: { friend: friend } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- SLEEP PATTERNS -->
    <div class="col-sm-12 col-md-3">
      <div class="panel sleep-patterns-panel">
        <h4>Recent Sleep Patterns</h4>
        <% @user_data.sleep.reverse.each do |day| %>
          <% if day.logged? %>
            <%= render partial: "sleep", locals: { sleep: day } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- CHARTS -->
    <div class="col-sm-12 col-md-6">
      <!-- HEART RATE CHART -->
      <%= render partial: "resting_heart_rate" %>
      <!-- SLEEP CHART -->
      <%= render partial: "last_nights_sleep" %>
    </div>
  </div>
  <div class="row">
    <!-- BADGES -->
    <%= render partial: "badges" %>
    <!-- THIS WEEK'S ACTIVITY -->
    <%= render partial: "activity" %>
  </div>
</div>

<%= render partial: "progress_bar" %>
